<h4 class="text-capitalize">Form Edit Jenis Barang</h4>

<div class="row">
    <div class="col-lg-6">
        <form action="/master/lokasi/update/<%= lokasi.id %>" method="post">
            <div class="mb-3">
                <label class="form-label">Kode Lokasi</label>
                <input type="text" class="form-control" name="kode" value="<%= lokasi.kode %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Nama Lokasi</label>
                <input type="text" class="form-control" name="nama_lokasi" value="<%= lokasi.nama_lokasi %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="description" value="<%= lokasi.description %>">
            </div>
            <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
</div>