<h4 class="text-capitalize">Form Tambah Lokasi</h4>

<div class="row">
    <div class="col-lg-6">
        <form action="/master/lokasi/create" method="post">
            <div class="mb-3">
                <label class="form-label">Kode Lokasi</label>
                <input type="text" class="form-control" name="kode">
            </div>
            <div class="mb-3">
                <label class="form-label">Nama Lokasi</label>
                <input type="text" class="form-control" name="nama_lokasi">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>