<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
   
      <a href="/reports/barang-masuk" class="small-box-footer">
        <div class="small-box bg-info">
          <div class="inner">        
            <p>Barang Masuk</p>
          </div>
    </div>
      </a>
      
  </div>
  <div class="col-lg-3 col-6">
    <!-- small box -->
   
      <a href="/reports/barang-keluar" class="small-box-footer">
        <div class="small-box bg-danger">
          <div class="inner">        
            <p>Barang Keluar</p>
          </div>
    </div>
      </a>
      
  </div>
  
  <div class="col-lg-3 col-6">
    <!-- small box -->
   
      <a href="/reports/barang-masuk" class="small-box-footer">
        <div class="small-box bg-success">
          <div class="inner">        
            <p>Laporan ATK Masuk</p>
          </div>
    </div>
      </a>
      
  </div>
  
  <div class="col-lg-3 col-6">
    <!-- small box -->
   
      <a href="/reports/barang-keluar" class="small-box-footer">
        <div class="small-box bg-warning">
          <div class="inner">        
            <p>Laporan ATK Keluar</p>
          </div>
    </div>
      </a>
      
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p><h3 style="color: indianred;font-weight: bold;">Selamat Datang</h3></p>
        <hr>
        <span style="font-size: 30px;font-weight: 700;font-weight: 900;color:red;">Alat Tulis Kantor PT. Belawan Indah</span>
      </div>
    </div>
  </div>
</div>